.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D9D9D9;
  color: #000;
  overflow: hidden;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.column {
  flex: 1;
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}
.column3 {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.subColumn {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: max-content;
  box-sizing: border-box;
  margin-bottom: 10vh;
  /* overflow: auto; */
}
.subColumn1 {
  padding: 20px;
  height: max-content;
  box-sizing: border-box;
  
}

.dropdown {
  text-align: center;
  width: 50%;
  margin: 20px 25%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
}

.titles {
  text-align: center;
}

.gridStat {
    text-align: center;
    line-height:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridStat:hover .removeTeam{
  display: block;
}

.metricContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.addTeam {
  border: solid 1px rgb(0, 0, 0);
  background-color: #000;
  color: #21C531;
  padding: 1vw;
  text-align: center;
  margin: 5vh auto;
  line-height:100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
.addMetric:hover {
  border: solid 1px #21C531;
  color: rgb(255, 255, 255);
}

.analyticsContainer {
  display: flex;
}

.map {
  background-color: #21C531;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.column::-webkit-scrollbar {
  display: none;               /* width of the entire scrollbar */
}
.subColumn::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.subColumn::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}

.subColumn::-webkit-scrollbar-thumb {
  background-color: #21C531;    /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
}

.indieStat {
  padding: 1%;
  background-color: #fff;
  border-radius: 5px;
  color: #fff;
  margin: 2%;
  width: 90%;
  cursor: pointer;
}

.tableElement {
  color: #000;
}

.collapse {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.collapseClosed {
  position: absolute;
  border: none;
  right: 0;
  background: #000;
  padding: 1%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}


.addMetric {
  background-color: black;
  color: #21C531;
  border: none;
  border-radius: 50%; /* Makes the button circular */
  padding: 15px 20px; /* Adjust as needed to change button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
}

.addMetric:hover {
  box-shadow: 0 0 20px #21C531; /* Green shadow on hover */
}

.removeTeam {
  position: relative;
  top: 0;
  right: 0;
  display: none;
}